
  
  .autocomplete-container {
    position: relative;
    width: 100%;
    display: flex
  }
  
  .autocomplete-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    background-color: #f1f1f1;
  } 
  
  .autocomplete-suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    color:#000000;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
  }
  
  .autocomplete-suggestion {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
 