/* Items in  carousel container div */

.carousel-container {
    width: 100%;
    position: relative;
    height: 330px;
    overflow: hidden;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%); /* Initial position showing the first original image */
}

.carousel-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.image-container {
    position: relative;
    width: 100%;
    height: 330px;
    overflow: hidden;
}

.image-list {  
     display: flex;
    transition: transform 800ms ease-out;
    height: 100%;
}

.image-item {
    flex: 0 0 100%;
    height: 100%;
}

.image-item img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 8px;
}


.img-btn-container {
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: space-between;
    width:100%;
   
}

.slider-button {
    font-size: 50px;
    font-weight: 300;
    border: 2px solid transparent;
    background-color: transparent; 
    padding: 100px 20px;
    color:black;
}

.slider-button:hover {
    margin:2px;
    cursor:pointer;
}