.carousel-container {
  position: relative;
  width: 100%;
  height: 400px;    
  overflow: hidden; 
  margin: 0 auto;
  background-color: #E3E6E6; 
}

.image-container {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.5s ease;
  width: 100%;
  overflow: visible;
}

.carousel-item {
  position: relative;
  flex: 0 0 100%; 
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* Amazon-style gradient overlay at bottom */
.carousel-fade {
  position: absolute;
  bottom: -20px; 
  left: 0;
  right: 0;
  height: 250px;  
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #E3E6E6 80%
  );
  pointer-events: none;
  z-index: 2;

}


.img-btn-container {
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: space-between;
    width:100%;
}

.slider-button {
    font-size: 50px;
    font-weight: 300;
    border: 2px solid transparent;
    background-color: transparent; 
    padding: 100px 20px;
    color:black;
}

.slider-button:hover {
    margin:2px;
    cursor:pointer;
}