.country-dropdown-card { 
    display: none;
    position: absolute;  
    top: 45px;
    min-width: 220px;
    padding:14px;
    background: #fff;
    color: black;
    border-radius: 3px;
    border: 1px solid #bbb;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13);
    font-size: 13px;
    z-index: 1000; 
}

 /* Hover On Language menu shows lanuage dropdown card  */
.nav-country-list:hover .country-dropdown-card {
    display: block;
}

/* Arrow on top center */
.country-dropdown-card::before {
    content: "";
    position: absolute;
    top: -10px;  
    margin-left: 30px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.country-dropdown-card ul {
    margin:0;
    padding:0;
    list-style: none;
}

.country-dropdown-card  li {
    margin:0;
    padding:0;
    list-style: none;
}

.country-option {
    display: flex;
    align-items : center;
    padding: 6px 0px;
    cursor :pointer;
    font-size: 14px;
    color: #111;
}

.country-option input { 
    opacity: 0;
    position: absolute;
}

.country-option:hover {
    text-decoration : underline;
}

.radio {
  width: 16px;
  height: 16px;
  border: 2px solid #aaa;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  background: #fff;
}


.radio::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    background: #f08804; 
    opacity: 0;
    transition: opacity 0.1s ease;
}

.country-option:hover .radio:after {
    opacity: 1;   
}

/* Checked state → solid grey dot */
.country-option input:checked + .radio::after {
  color: #f08804; 
  opacity: 1;
} 

.country-option:hover {
    text-decoration: underline;
    color: #f08804; 
}

.nav-divider {
    margin-top: 6px;
    margin-left: 24px;
    position: relative;
    display: block;
    line-height: 1px;
    height: 1px;
    overflow: hidden;
    background: #EEE;
    margin: 0 0 9px;
}

.country-bottom-text {
    display:flex;
    align-items: center;
    font-size: 13px;
    color: #444;
    font-weight: 400;
    line-height: 16px;
}

.country-link {
    margin-left: 25px;
    margin-top: 10px;
    color: #0066C0;
    text-decoration: none;
}


 