/* Fixed Navigation Bar  Properties */
.fixed-nav-bar { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width:100%;
    background-color: rgb(19, 25, 33);
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Left Navigation Bar */
.nav-left {  
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo {
    padding: 5px;
}

.nav-logo-link {
    display: flex;
    align-items:center;
} 

.nav-logo-link img {
    width : 100px;
    height: auto;
}

.nav-logo-text {
    font-size:13.5px;
    color:#fff;
    text-decoration: none;
}

.nav-logo:hover {
    outline: 1px solid white;
}

/* Search Bar in the center of the Navigation Bar */
.nav-center {
    margin-left: 8px;
    display: flex;
    flex-grow: 1;
    height: 40px;
}

 .search-box:hover {
    /* outline: 2px solid rgb(232, 176, 73); */
    outline: 2px solid orange;
}


/* Items in  Right of Navigation Bar */
.nav-right {
    display:flex;
    align-items: center;
    margin-left: 8px;
} 


/* Country List Component in Navigation Bar */

.nav-country-list {
    display: flex;
    margin:1px;
    font-size:12px;
    align-items: center;
 }

 .country-wrapper {
     position: relative;   
  }
 

 .nav-country-option {
    display: flex;
    padding:7px 5px;
    margin-top:5px;
 }

 .nav-country-list:hover {
    outline: 1px solid white;
}

.flag {
    width: 25px; 
    height: auto;
    margin-top: 3px;
} 

.flag img {
  width: 18px;
  height: auto; 
}

#country-label {
    margin-left: -4px;
    font-weight: 700;
    font-size:14px;
}

.caret {
    width: 0;
    height: 0;
    margin: 15px 0 0 0;
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    border-top: 4px solid #a7acb2;
    border-bottom-width: 0; 
} 

.carets {
    width: 0;
    height: 0;
    margin: 15px 0 0 0;
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    border-top: 4px solid #a7acb2;
    border-bottom-width: 0; 
     background: 0 0;
    padding: 0;
    cursor: pointer;
} 

.nav-arrow {
    margin: 30px 0 0 0;
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    border-top: 4px solid #a7acb2;
    border-bottom-width: 0;
}

.nav-arrow-button {    
    background: 0 0;
    padding: 0;
    cursor: pointer;
}


.nav-country-list:hover .country-dropdown-card {
    display: block;
}


/* Account List in Right Navigation Bar */
.nav-account {
    display: flex;    
    margin:1px;
    font-size:12px;
    align-items: center;

}

.nav-account-option {
    display: flex;
    flex-direction: column;
    padding: 0 4px 8px;
}

.nav-account-top-text {
     margin-top:9px;
    font-size: 12px;
    font-weight: 400;
}

.nav-account-bottom-text {
    font-size: 14px;
    font-weight: 700;
}

.nav-account-option:hover {
    outline: 1px solid white;
}



/* Navigation orders */
.nav-orders {
    margin-left: 2px;
    padding:5px;
    margin-top:-5px;
}

.nav-order-option {
    display: flex;
    flex-direction: column;
}

.nav-order-option:hover {
    outline: 1px solid white;
}

.nav-order-top-text {
    margin-top:9px;
    font-size: 12px;
    height: 14px;
    font-weight: 400;
}

.nav-order-bottom-text {
    font-size: 14px;
    font-weight: 700;
}

.account-wrapper {
  position: relative;   /* anchor for dropdown */
}

/*.arrow {
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
cursor: pointer;
}*/

.nav-arrow {
    margin: 30px 0 0 0;
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    border-top: 4px solid #a7acb2;
    border-bottom-width: 0;
}

.nav-arrow-button {    
    background: 0 0;
    padding: 0;
    cursor: pointer;
}

/* Addto cart */

.cart-icon-container {
    position: relative; 
    display: inline-block;     
}

.addtocart-item-count {
    position: absolute; 
    top: -21px; 
    color: white;
    border-radius: 50%; 
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    display: block; 
} 

.cart-text-container {
    display:inline-block;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
}

.add-to-cart-container:hover {
    outline: 1px solid white;
}


