/* Movable Navigation Bar*/
.nav {      
    height: 40px;
    background-color: #232f3d;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px; 
    z-index: 900;
}

.container-nav {
    display: flex;
    align-items: center;  
    justify-content: space-between;   
}

.container-nav ul {
    padding: 0;
    margin: 0;
    color:#fff;
    font-size: 16px;
    list-style:none;
    display:flex;    
    align-items: center;   
}

.container-nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0px 2px;
}

.border-white {
    padding: 5px;
    border: 1.5px solid transparent;
}

.border-white:hover {
    border: 1.5px solid #ffffff;
}
