.price-range-container {
    padding: 0px 15px 13px 8px;
}

.price-indicator {
  margin: 10px 8px -4px;
}

.price-input-container {
    border:1px solid red;
    margin:5px;
    padding:12px;
}

.slider-container {
    position: relative;
    height: 40px;
}

.slider-track { 
    position: absolute;
    height: 4px;
    top: 22px;
    width: 100%;
    background: black;
    border-radius: 5px;
}

.range-highlight { 
    position: absolute;
    height: 4px;
    background: black;
    top: 22px;
    border-radius: 5px;
    z-index:2;
}

.price::before{
    content : "\2089";
}

.price-label {
    font-weight: 700;
    font-size: 14px;  
}

 input[type=range] {   
      position: absolute;
      width: 100%;
      top: 12px;
      pointer-events: none;
      -webkit-appearance: none;
       appearance: none;
      background: none;
}  

 input[type=range]::-webkit-slider-thumb {
      pointer-events: auto;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: white;
      border: 8px solid #2162a1;
      cursor: pointer;
      -webkit-appearance: none;
       appearance: none;
    }

    input[type=range]::-moz-range-thumb {
      pointer-events: auto;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #0073e6;
      border: 2px solid white;
      cursor: pointer;
      appearance: none;
    }   

    .price-input-container {
        display: flex;
        justify-content: space-between;
    }

    .price-input-container input {
        width: 45%;
        padding: 5px 10px;
        font-size: 14px;
    }
