#product-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 10px;
    margin-top: -150px;
     background-color: #E3E6E6;   
    z-index:100;
}

.product-card {   
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:12px;
    width: 225px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: white;
    margin-bottom:35px;
    height:auto;
    z-index: 100;   
}

.product-card img {
    max-width: 50%;
    width:50%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}


.product-card-title {
    color: black;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
}

.product-card-description {
    color: grey;
    font-size: 12px;
    margin-top:4px;
}

.product-card-price {
    color: black;
    font-size: 13px;
    margin-top:4px;
    font-weight:700;
}

.product-card h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.product-card-button {
    background-color: #ffce12;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.product-card button:hover {
    background-color: black;
}